<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.hieuhc.alfred-github-actions</string>
	<key>connections</key>
	<dict>
		<key>33A2F208-C2A4-42DA-B801-ED7EA04F7D94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74F6710C-1C06-4955-9B9A-7514B4C1AE58</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F34201E5-52DD-45C8-9E1A-828DEFB2A724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38278A50-718C-4145-A3C0-52ACD468B7E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33A2F208-C2A4-42DA-B801-ED7EA04F7D94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38863873-18DD-4920-A28E-1B8A1AF85CE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C099F2A-5444-49DA-A2C1-0C4499D6F899</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>260788C9-2950-429C-87C9-19A48C05B252</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open Github Acion URL of this repo</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A3B333D-2E97-4479-AF29-B31FCB5EAE9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B39259EC-905A-4510-9DB4-F872868514FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E796BF2-A7BD-4B28-9A03-5DC8A6BB30A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CDFE549-1B9C-4EA5-A024-18FE99C69199</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C099F2A-5444-49DA-A2C1-0C4499D6F899</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ABA0DF5B-E3B5-4CB5-9D4B-66FE30AF879D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74F6710C-1C06-4955-9B9A-7514B4C1AE58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF6F2385-944A-466C-A1EF-73EF36A90421</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D482EBF-AF05-4EEC-8B4D-C62125906078</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1910C6A-0906-416C-B63B-15F3BE9CC52B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABA0DF5B-E3B5-4CB5-9D4B-66FE30AF879D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38278A50-718C-4145-A3C0-52ACD468B7E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>545974EA-B91C-4902-9090-487D72C4C9F0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open this workflow URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B39259EC-905A-4510-9DB4-F872868514FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E796BF2-A7BD-4B28-9A03-5DC8A6BB30A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB9F0B96-0429-4802-815A-731CAC2334D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF8534BD-CD2F-4A0C-A7F9-9F6A2ED11D3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF8534BD-CD2F-4A0C-A7F9-9F6A2ED11D3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B2472FF-19EC-451F-8FB4-F21994DA5B36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF6F2385-944A-466C-A1EF-73EF36A90421</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D482EBF-AF05-4EEC-8B4D-C62125906078</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chi Hieu Huynh</string>
	<key>description</key>
	<string>github ation workflow shortcuts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Action Worfklow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:hotkey}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

./bin/fetch_repos "${query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./bin/projects</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>38863873-18DD-4920-A28E-1B8A1AF85CE8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:repo} &gt;&gt; {var:branch}</string>
				<key>title</key>
				<string>{var:workflow} #{var:runNumber} is registered</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FF6F2385-944A-466C-A1EF-73EF36A90421</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

./bin/fetch_runs -repo "${repo}" -workflow "${workflow}" -query "${query}"

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>33A2F208-C2A4-42DA-B801-ED7EA04F7D94</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

./bin/fetch_workflows -repo "${repo}" -query "${query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./bin/products</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ABA0DF5B-E3B5-4CB5-9D4B-66FE30AF879D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{var:repo}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>74F6710C-1C06-4955-9B9A-7514B4C1AE58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5C099F2A-5444-49DA-A2C1-0C4499D6F899</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{var:repo}</string>
					<key>workflow</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>38278A50-718C-4145-A3C0-52ACD468B7E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>260788C9-2950-429C-87C9-19A48C05B252</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>545974EA-B91C-4902-9090-487D72C4C9F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F34201E5-52DD-45C8-9E1A-828DEFB2A724</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#echo "repo ${repo} runID ${runID}"

./bin/watch_run -repo "${repo}" -runID "${runID}" &gt; /dev/null

res=$?
if [ $res -eq "0" ]; then
	echo "succeeded"
else
	echo "failed"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D482EBF-AF05-4EEC-8B4D-C62125906078</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:hotkey}-login</string>
				<key>subtext</key>
				<string>Authenticate with Personal Access Token</string>
				<key>text</key>
				<string>Login to Github</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3A3B333D-2E97-4479-AF29-B31FCB5EAE9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bin/entry -login "${token}" &gt; /dev/null
res=$?
if [ $res -eq "0" ]; then
	echo "login succeeded"
else
	echo "login failed"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E796BF2-A7BD-4B28-9A03-5DC8A6BB30A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Login done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6CDFE549-1B9C-4EA5-A024-18FE99C69199</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>token</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B39259EC-905A-4510-9DB4-F872868514FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:hotkey}-refresh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Refresh list of repos</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB9F0B96-0429-4802-815A-731CAC2334D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./bin/entry &gt; /dev/null
res=$?
if [ $res -eq "0" ]; then
	echo "refesh succeeded"
else
	echo "refresh failed"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF8534BD-CD2F-4A0C-A7F9-9F6A2ED11D3A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:repo} &gt;&gt; {var:branch}</string>
				<key>title</key>
				<string>{var:workflow} #{var:runNumber} {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E1910C6A-0906-416C-B63B-15F3BE9CC52B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Refesh done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7B2472FF-19EC-451F-8FB4-F21994DA5B36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Shortcuts to Github Action Workflows

Default hotkey for using is `gha &lt;query&gt;`.

First-time use:
Run `gha-login` to authenticate with Github</string>
	<key>uidata</key>
	<dict>
		<key>260788C9-2950-429C-87C9-19A48C05B252</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>33A2F208-C2A4-42DA-B801-ED7EA04F7D94</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>38278A50-718C-4145-A3C0-52ACD468B7E9</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>38863873-18DD-4920-A28E-1B8A1AF85CE8</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>3A3B333D-2E97-4479-AF29-B31FCB5EAE9D</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>3E796BF2-A7BD-4B28-9A03-5DC8A6BB30A7</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>545974EA-B91C-4902-9090-487D72C4C9F0</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>5C099F2A-5444-49DA-A2C1-0C4499D6F899</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>6CDFE549-1B9C-4EA5-A024-18FE99C69199</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>74F6710C-1C06-4955-9B9A-7514B4C1AE58</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>7B2472FF-19EC-451F-8FB4-F21994DA5B36</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>9D482EBF-AF05-4EEC-8B4D-C62125906078</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>ABA0DF5B-E3B5-4CB5-9D4B-66FE30AF879D</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>B39259EC-905A-4510-9DB4-F872868514FD</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>BB9F0B96-0429-4802-815A-731CAC2334D9</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>DF8534BD-CD2F-4A0C-A7F9-9F6A2ED11D3A</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>E1910C6A-0906-416C-B63B-15F3BE9CC52B</key>
		<dict>
			<key>xpos</key>
			<integer>1135</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>F34201E5-52DD-45C8-9E1A-828DEFB2A724</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>FF6F2385-944A-466C-A1EF-73EF36A90421</key>
		<dict>
			<key>xpos</key>
			<integer>1065</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>authuser</key>
		<string></string>
		<key>hotkey</key>
		<string>gha</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>authuser</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/hieuhc/alfred-github-actions</string>
</dict>
</plist>
